
:root{
  --white-color: #fff;
  --black-color: #000;
  --text-color:#333;
  --primary-color: rgb(238, 77, 45);
}
*{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
.grid{
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
.grid__full--width{
  width: 100%;
}
.grid__row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
}
a{
  text-decoration: none;
  color: unset;
}
ul{
  list-style: none;
  margin-bottom: 0;
}
img{
  width: 100%;
}
@keyframes navNotiGrowth{
  from{
    opacity: 0;
    transform: scale(0);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}
.grid__colum--2{
  padding: 0 12px;
  width: calc(100%/12*2);
}
.grid__colum--10{
  padding: 0 12px;
  width: calc(100%/12*10);
}
